@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
body{
    display:flex;
    justify-content: center;
    margin: 0;
    
    background: #E9DAC1;
}
.main_container{
    display:flex;
    position:absolute;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    height: 3400px;
    gap: 20px 20px;
}
.letter{
    display:flex;
    justify-content:center;
  
    align-items:center;
    transition:1s all;
    justify-content: center;
    margin-top:10px;
    width: 340px;
    height: 340px;
    font-family: 'Seymour One', sans-serif;
    font-size: 200px;
    border-radius:10px;
    background: #A460ED;
    cursor:pointer;
    opacity:100%;
    transition: 1s all;
}
.letter:hover{
    background:linear-gradient(white, #7DBFE2)

}
.text{
    transform: scale(.5, 1);
    color: #000044;
}
.letter_info{
    display:none;
    opacity:0%;
    overflow: hidden;
    position:absolute;
    justify-content: space-evenly;
    flex-wrap:wrap;

    width: 100%;
    height: 100vh;

}

  .circle{
    display:flex;
    justify-content:center;
    align-items:center;
    background: #FFD372;
    width: 20vh;
    position:absolute;
    height: 20vh;
    border-radius:100%;
    z-index:1;
    border: solid 1vh orange;
  }
  .line{
    position:absolute;
    height: 5vh;
    width: 48.4vh;
    border-radius:0px 20px 20px 0px;
    align-self:flex-end;
    background: #FFD372;
    border-right: solid 1vh orange;
    border-bottom: solid 1vh orange;
    border-top:solid 1vh orange;
    z-index:2;
  }
.triangle{
width: 12vh;
height: 12vh;
rotate:90deg;

cursor:pointer;
}
.letter_icon{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 60vh;
    border-radius:25px;
    width: 60vh;
    align-self:center;
    background: #304057;
    color:white;
    font-size:40vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img_container{
    display:flex;
   flex-direction:column;
   justify-content:center;
    margin-top:25vh;
    width: 80vh;
    height: 60vh;


}

.letter_img{
    height: 60vh;
    width: 80vh;
    border-radius:25px;
}
.img_name{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:8vh;
    background: #304057;
    width: 80vh;
    height: 10vh;
    position:absolute;
    margin-left: 80vh;
    margin-top:10vh;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.leave_page{
    display:flex;
    justify-content:center;
    position:absolute;
    border-radius: 100%;
    margin-top:5vh;
    margin-left:-180vh;
    width: 15vh;
    height: 15vh;
    background: #304057;
    color:white;
    font-size:10vh;
    rotate:180deg;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
}

.sign1{
 
    cursor:pointer;
    width: 50vh;
    align-self:flex-end;
    height: 50vh;
    font-size:7vh;
    
}
.rupor{
    position:sticky;
    top:90vh;
    right:60vh; 
    cursor:pointer;
    width: 70px;
    height: 70px;
    background: white;
    margin:10px;    
    border-radius:10px;

}
.main1{
   

    width: 100vw;
    height: 3400px;
}
.footer{
    display:flex;
    justify-content:space-around;
    position:sticky;
    z-index:5;
    top:88vh;
    width: 100vh;
    border-top:solid sandybrown 5px;
    border-left:solid sandybrown 5px;
    border-right:solid sandybrown 5px;          
    height: 12vh;
    background-image: linear-gradient(#89C4E1,#58287F);
    margin: 0 auto;
    color:white;
z-index:5;
    font-family: 'Ultra', serif;
    font-size: 8vh;
    text-shadow: 5px 5px orange;
}
.instr{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    color:white;
    font-size:30px;
    align-self:center;
    text-shadow:none;
    border-radius:10px;
    background: #58287F;
  cursor:pointer
}
.help_menu{
    display:flex;
    align-items:center;
    text-align:center;
    color:#F8F2AA;
    z-index:5;
    position:sticky;
    top:100px;
    overflow:hidden;
    border-radius:10px;
    box-shadow: 20px 20px 10px black;
    font-size:30px;
    background: #FDAF17;
    height: 70vh;
    color:#FDAF17;
    width: 0px;
    font-family: 'Seymour One', sans-serif;
    margin:0 auto;
    transition:1s all;
}
.lock_container{
    display:flex;
    justify-content:center;
    position:absolute;
    width: 100%;
    height:0px;
    z-index:-2;
    opacity:0%;

}
.lock{
    position:sticky;
    top:200px;
    margin:0 auto;
    width: 400px;
    height: 300px;
    opacity:100%;
    border-radius:10px; 
}
.black_screen{
    display:flex;
    justify-content:center;
    position:absolute;
    width: 100%;
    height:0px;
    background: black;
    opacity:0%;
    z-index:-2;
    overflow:hidden;
    transition:1s all;

}
.turn{
    position:absolute;
    align-self:flex-end;
    font-size:100px;
    opacity: 50%;
    color:gray;
    width: 50px;
    user-select: none;
    height: 50px;
transition: 1s all;
cursor:pointer
}
.turn:hover{
    color:white;
    opacity:100%
}
.right{
    align-self:flex-end;
}
.left{
    align-self:flex-start;
}
*{
    user-select:none;
}